/* search bar start */
.search-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding-left: 10px;
  margin-bottom: 30px;
}
#input-box {
  border: none;
  background-color: rgb(240, 238, 238);
  padding: 10px;
  width: 300px;
  margin: 0;
}
.search-button {
  border: none;
  color: white;
  background-color: rgb(243, 82, 64);
  padding: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
#icon {
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
/* search bar end */

#meal-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  margin-left: 200px;
  margin-right: 200px;
}
.each-meal-div {
  background-color: #f0f0f0;
  margin: 10px;
  border-radius: 10px;
}

.each-meal-div img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#name {
  padding: 5px;
  display: flex;
  justify-content: center;
}

input:focus {
  outline: none;
}
#details {
  color: white;
  background-color: rgb(243, 82, 64);
  border-radius: 5px;
  border: none;
  width: 30%;
  margin-left: 75px;
  margin-bottom: 10px;
}
#ingredients-container {
  width: 600px;
  display: none;
  background-color: rgb(243, 243, 243);
  margin-left: 370px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}
#ingredients-container img {
  margin-left: 150px;
  width: 50%;
}
#close-btn {
  border: none;
  margin-left: 550px;
}
#details-name {
  display: flex;
  justify-content: center;
}

#ingred {
  margin-left: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
}

#pTag {
  margin-left: 50px;
}
